# Ignore node_modules directory
node_modules/

# Ignore all .log files
*.log

# Ignore environment files
.env

# Ignore compiled output
/dist

# Ignore system files
.DS_Store
Thumbs.db
